.map-layers {
  bottom: 30px;
  right: 10px;
  font-size: 14px;
  color: white;
  background-color: $map-control-bg-color;
  .type-selectors {
    margin: 15px 0;
    border-radius: 5px;
    .type-selector {
      padding: 0 15px;
      display: flex;
      align-items: center;
      cursor: pointer;
      .type-color {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid white;
      }
      .type-name {
        flex: 1;
      }
      &:hover {
        background-color: $map-control-active-bg-color;
      }
    }
  }
  .type-selector-buttons {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    .type-selector-button {
      user-select: none;
      text-align: center;
      width: 50%;
      cursor: pointer;
      padding: 2px 5px;
      border-top: 1px $map-control-border-color solid;
      &:first-child {
        border-right: 1px $map-control-border-color solid;
        border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-bottom-right-radius: 5px;
      }
      &:hover {
        background-color: $map-control-active-bg-color;
      }
    }
  }
}
