.map-container {
  height: calc(100vh - #{$header-height + $footer-height});

  .leaflet-control-easyPrint {
    visibility: hidden;
  }

  #btn-map-export {
    @extend .cta-button;
    position: absolute;
    top: 18px;
    right: 50px;
    z-index: $z-map-export-button;
    height: auto;
  }

  .heatmap-legend-wrapper {
    font-size: 12px;
    font-weight: 600;

    #heatmap-gradient-legend {
      background: linear-gradient(90deg, blue 10%, cyan 25%, lime 45%, yellow 65%, red 100%);
      min-width: 218px;
      height: 35px;
      min-height: 30px;
      color: white;
      margin: 0;
      border-radius: 3px;
    }
  }
}

@import '~react-leaflet-markercluster/dist/styles.min.css';
