.map-search {
  top: 10px;
  right: 10px;
  width: 300px;
  background-color: none;

  // .search-type {
  //   display: flex;
  //   align-items: center;
  //   margin-bottom: 8px;
  //   text-align: right;
  // }
  //
  // .search-title {
  //   font-weight: bold;
  //   font-size: 14px;
  //   padding-right: 8px;
  //   flex: 1;
  // }

  .search-tabs {
    display: flex;
    justify-content: flex-end;
    .search-tab {
      flex: 0;
      padding: 4px 12px;
      color: white;
      cursor: pointer;
      text-transform: capitalize;
      // border: 1px $map-control-border-color solid;
      // border-bottom: none;
      background-color: $map-control-bg-color;
      font-weight: bold;
      font-size: 13px;
      user-select: none;
      &:not(:last-child) {
        border-right: none;
      }
      &:first-child {
        border-top-left-radius: 5px;
        // border-bottom-left-radius: 5px;
      }
      &:last-child {
        border-top-right-radius: 5px;
        // border-bottom-right-radius: 5px;
      }
      &:not(:first-child) {
        text-transform: uppercase;
      }
      &:hover, &.active {
        background-color: $map-control-active-bg-color;
        // text-decoration: underline;
      }
    }
  }
  .search-content {
    background-color: $map-control-bg-color;
    border-radius: 5px;
    border-top-right-radius: 0;
    padding: 10px;
    // border-top: 1px $map-control-border-color solid;
  }

  .mapboxgl-ctrl-geocoder {
    width: 100% !important;
    // border-radius: 0;
    // border-bottom-right-radius: 5px;
    // border-bottom-left-radius: 5px;
    // border-top-left-radius: 5px;
    background-color: transparent !important;
    &--input {
      // border-radius: 5px;
      background-color: transparent !important;
      border-bottom: 1px $map-control-border-color solid;
      color: white;
      font-weight: normal;
      // border-top-right-radius: 0;
      // border-bottom-right-radius: 5px;
      // border-bottom-left-radius: 5px;
      // border-top-left-radius: 5px;
    }
    &--button {
      background-color: transparent;
    }

    &--icon {
      fill: $map-control-border-color;
    }

    .suggestions {
      background-color: $map-control-bg-color !important;

      a {
        color: white !important;
      }

      a:hover {
        background-color: $map-control-active-bg-color;
      }

      .active a {
        background-color: $map-control-active-bg-color;
      }
    }
  }

}
