.map-container {
  height: calc(100vh - #{$header-height + $footer-height});

  .map-control {
    z-index: 1;
    position: absolute;
    padding: 20px;
    background-color: #1d1d1d;
    // width: 300px;
    // height: 300px;
    color: white;
    border-radius: 5px;

  }

  .leaflet-control-easyPrint {
    visibility: hidden;
  }

  .leaflet-bottom.leaflet-right {
    font-family: $brand-text-family;
  }

  .leaflet-control-layers-expanded {
    min-width: 218px;
  }

  #btn-map-export {
    @extend .cta-button;
    position: absolute;
    top: 18px;
    right: 50px;
    z-index: $z-map-export-button;
    height: auto;
  }

  .heatmap-legend-wrapper {
    font-size: 12px;
    font-weight: 600;

    #heatmap-gradient-legend {
      background: linear-gradient(90deg, blue 10%, cyan 25%, lime 45%, yellow 65%, red 100%);
      min-width: 218px;
      height: 35px;
      min-height: 30px;
      color: white;
      margin: 0;
      border-radius: 3px;
      .span {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }

  .export-legend-wrapper {
    background-color: $brand-bg-color;
    min-width: 218px;
    padding: 6px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    font-size: 11px;

    .export-legend-title {
      font-weight: 600;
      font-size: 11px;
      line-height: 11px;
      margin-bottom: 3px;
    }
  }
}

@import '~react-leaflet-markercluster/dist/styles.min.css';
