.map-overview {
  top: 10px;
  left: 10px;
  background-color: $map-control-bg-color;
  width: 250px;
  .requests-title {
    margin-top: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: $brand-heading-family;
  }
  .info-heading {
    margin-left: 20px;
    margin-top: 8px;
    margin-bottom: -4px;
    font-size: 8px;
    text-transform: uppercase;
  }
  .info-content {
    margin-left: 20px;
    font-size: 16px;
  }
  .count-bar {
    height: 6px;
    margin-top: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    transition: all 0.5s ease;
  }
}
