[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-asyncio = "*"
flake8 = "*"
requests = "*"
pytest-cov = "*"
pytest = "*"

[packages]
numpy = "*"
pandas = "*"
psycopg2-binary = "*"
pysupercluster = "*"
redis = "*"
requests-async = "*"
sendgrid = "*"
SQLAlchemy = "*"
gino = {extras = ["starlette"], version = "*"}
fastapi = "*"
uvicorn = "*"
alembic = "*"
geopandas = "*"
ujson = "*"
sentry-sdk = "*"
aiocache = {extras = ["redis"], version = "*"}
gunicorn = "*"

[requires]
python_version = "3.7"
