aiofiles==0.5.0
alembic==1.4.2
asyncpg==0.21.0
attrs==20.1.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
fastapi==0.61.1
Fiona==1.8.13.post1
flake8==3.8.3
geopandas==0.8.1
gino==1.0.1
gino-sanic==0.1.0
gino-starlette==0.1.1
gunicorn==20.0.4
h11==0.8.1
h2==3.2.0
hpack==3.0.0
hstspreload==2020.8.25
http3==0.6.7
httptools==0.1.1
httpx==0.11.1
hyperframe==5.2.0
idna==2.10
immutables==0.14
importlib-metadata==1.7.0
iniconfig==1.0.1
Mako==1.1.3
MarkupSafe==1.1.1
mccabe==0.6.1
more-itertools==8.5.0
multidict==4.7.6
munch==2.5.0
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pluggy==0.13.1
psycopg2-binary==2.8.5
py==1.9.0
pycodestyle==2.6.0
pydantic==1.6.1
pyflakes==2.2.0
pyparsing==2.4.7
pyproj==2.6.1.post1
pysupercluster==0.7.6
pytest==6.0.1
pytest-asyncio==0.14.0
python-dateutil==2.8.1
python-dotenv==0.14.0
python-editor==1.0.4
python-http-client==3.3.1
pytz==2020.1
redis==3.5.3
requests==2.24.0
requests-async==0.6.2
rfc3986==1.4.0
sanic==20.6.3
sanic-compress==0.1.1
Sanic-Cors==0.10.0.post3
Sanic-Plugins-Framework==0.9.3
sendgrid==6.4.6
Shapely==1.7.1
six==1.15.0
sniffio==1.1.0
sodapy==2.1.0
SQLAlchemy==1.3.19
starkbank-ecdsa==1.0.0
starlette==0.13.6
tabulate==0.8.7
toml==0.10.1
ujson==3.1.0
urllib3==1.25.10
uvicorn==0.11.8
uvloop==0.14.0
websockets==8.1
zipp==3.1.0
