# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
dist/
# Test results
coverage/
jmeter.log
server/performanceStatistics/htmlReports/

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
.terraform/
terraform.tfstate
terraform.tfstate.*

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode

npm-debug.log*
yarn-debug.log*
yarn-error.log*

package-lock.json

# config
config.js
.env
settings.cfg

docker-compose.yml
Orchestration/docker-compose.yml

__pycache__/

# csv files
/dataAnalysis/datasets
/server/src/static

# checkpoints
/dataAnalysis/.ipynb_checkpoints
server/src/static/temp
