# secrets
.env

# dependencies
/node_modules/
node_modules_non_es5

# production build
dist/

# testing
__snapshots__
/coverage/

# data
/data/*.py
/data/*-old.*
/data/*.csv
/data/csv/*
/data/*.geojson

# misc
db/
tags/
Temp/
*-new.*
webpack-stats.json
*.old
*\ copy.*
stats.json
docker/
venv/
.vscode

# socrata experimental files
*-socrata*

# duckDb experimental files
*-duckDb*
