
/////////////////// BRAND /////////////////////
// https://www.figma.com/file/9RJJyaGAdT5hcRuv9PUMOY/311-Wireframe-v1.0?node-id=16%3A4

// colors
$brand-heading-color:   #1D1D1D;    // dark gray
$brand-text-color:      #002449;    // dark blue
$brand-main-color:      #1D1D1D;    // dark gray
$brand-main-color-light: #2f2f2f;   // faded dark gray
$brand-cta1-color:      #FFB24A;    // orange
$brand-cta2-color:      #B6E656;    // light green
$brand-bg-color:        #FFFFFF;    // white
$brand-stroke-color:    #999999;    // grey
$light-blue:            #00A1E7;    // light blue

// font families
$brand-heading-family:  'Open Sans', sans-serif;
$brand-text-family:     Roboto, sans-serif;

// font sizes
$brand-heading-size:    20px;
$brand-subheading-size: 18px;
$brand-text-size:       16px;

//////////////////// LAYOUT ////////////////////

$header-height: 62px;
$footer-height: 52px;
$menu-width: 500px;
$chart-max-width: 840px;

//////////////////// Z-INDEX ///////////////////

$z-snapshot-renderer: -100000;

// leaflet-pane: 400
// leaflet-control-layers: 800
// leaflet-top, bottom, left, right: 1000

$z-map-export-button: 1000;
$z-mapbox-wordmark: 1000;
$z-visualizations: 1050;
$z-menu: 1100;
$z-tooltip: 1150;
$z-loader: 1200;
$z-modal: 10000;

// header and footer
$z-navbar: 20000;
