.body {
  height: calc(100vh - #{$header-height + $footer-height});
  position: relative;

  //// menu-toggle transition ////
  .visualizations,
  .comparison,
  .loader-container,
  .menu-container,
  .visualizations-placeholder {
    transition: all 0.5s ease 0s;
  }

  &.menu-is-open {
    .visualizations,
    .comparison,
    .loader-container,
    .visualizations-placeholder {
      left: $menu-width;
    }
  }
  &:not(.menu-is-open) {
    .menu-container {
      transform: translateX(-100%);
    }
  }
  /////////////////////////////////

  .data-request-error {
    border-radius: 5px;
    background: rgba(153, 153, 153, 0.7);
    padding: 10px 35px;
    margin: 0 10em;
  }
}
