.chart {
  position: relative;
  padding: $chart-padding;

  .chart-export-select {
    position: absolute;
    top: $chart-padding + 14px;
    right: $chart-padding;
    z-index: 1;
    .loader-button {
      padding: 0 8px;
      border: 1px solid $brand-stroke-color;
      border-radius: 4px;
      font-size: 14px;
      cursor: default;
      position: relative;
      padding: 3px 10px;
      background-color: transparent;
    }
  }
}
