.snapshot-renderer {
  // switch to positive for debugging
  z-index: -100000;
  background-color: white;
  outline: 3px red solid;

  position: fixed;
  top: 0;
  left: 0;

  .export-template {
    width: $chart-max-width;
    .chart-extra {
      margin-bottom: 30px;
      .outline {
        border-width: 2px;
      }
    }
    .chart-export-select {
      display: none;
    }
    .chart {
      width: 90%;
    }
    .chart.pie {
      width: 50%;
      canvas {
        border-width: 2px;
      }
    }
    .contact-311-comparison {
      width: 90%;
      .chart {
        width: 100%;
      }
    }
  }
  .chart-image {
    padding: 20px;
    .chart.pie {
      width: 100%;
    }
  }
}

.chart-export-select {
  z-index: 1;
  .loader-button {
    padding: 0 8px;
    border: 1px solid $brand-stroke-color;
    border-radius: 4px;
    font-size: 14px;
    cursor: default;
    position: relative;
    padding: 3px 10px;
    background-color: transparent;
  }
}

.export-dropdown {
  position: absolute;
  top: 0px;
  right: 100%;
  border: 1px solid $brand-stroke-color;
  padding: 6px 0;
  white-space: nowrap;
  text-align: left;
  background-color: $brand-bg-color;
  z-index: 10000;
  font-size: 14px;
  line-height: 18px;
  cursor: default;

  h3 {
    font-weight: bold;
    margin: 0 10px 2px;
    &:last-of-type:not(:first-of-type) {
      margin-top: 6px;
    }
  }

  button {
    outline: none;
    padding: 1px 10px;
    font-size: 14px;
    display: block;
    border: 0;
    color: $brand-main-color;
    width: 100%;
    text-align: left;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background-color: #F1F1F1;
    }
  }

  div {
    padding: 1px 10px;
    color: $brand-stroke-color;
  }
}
