footer.navbar {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: $footer-height;
  background: $brand-main-color;
  color: $brand-bg-color;
  text-align: center;
  transition: all 0.5s ease 0s;

  &.menu-is-open {
    width: calc(100vw - #{$menu-width});
    margin-left: $menu-width;
  }

  .last-updated {
    display: inline-block;
    margin: 0 auto;
    line-height: $footer-height;
  }

  .version {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: $footer-height;
    font-size: 12px;
    cursor: default;
    .hover-over-tooltip {
      color: $brand-main-color;
      font-weight: normal;
      font-size: 14px;
      font-family: $brand-text-family;
      width: auto;
      word-break: keep-all;
    }
  }
}
