.navbar {
  font-family: $brand-heading-family;
  font-weight: bold;
  height: $header-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  z-index: $z-navbar;
  background-color: $brand-heading-color;

  .navbar-brand {
    font-size: 20px;
  }

  .navbar-menu .navbar-item {
    font-size: 16px;
    margin-right: 46px;
  }

  .navbar-selected {
    border-bottom: 5px solid $brand-cta1-color;
    padding-bottom: 2px;
    margin-bottom: -7px;
  }
}
