.loader-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: $menu-width;
  right: 0;
  z-index: 1200;
  pointer-events: none;
  transition: $menu-transition;
  &.full-width {
    left: 0;
  }

  .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 60px;
    background-color: rgba(153, 153, 153, 0.7);
    border-radius: 4px;

    .loader {
      margin: 20px auto;
      width: 50px;
      height: 50px;
      border-width: 5px;
    }
  }
}

.loader-button {
  position: relative;
  cursor: pointer;
  border: 0;
  &.cta {
    color: $brand-main-color;
    background-color: $brand-cta1-color;
    font-family: $brand-heading-family;
    font-size: 18px;
    padding: 5px 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
  }
  &.loading {
    color: transparent;
    cursor: default;
  }
  .loader-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
