.menu-container {
  $tabs-height: 40px;

  position: fixed;
  left: 0;
  top: $header-height;
  bottom: $footer-height;
  width: $menu-width;
  z-index: 1100;
  background: $brand-bg-color;
  box-shadow: 0px 4px 5px rgba(108, 108, 108, 0.3);

  .menu-tabs {
    .menu-tab {
      width: 50%;
      display: inline-block;
      line-height: $tabs-height;
      text-align: center;
      background-color: #EEEEEE;
      font-size: 18px;
      color: #777777;
      cursor: default;
      &.active {
        background-color: $brand-cta1-color;
        font-weight: bold;
        color: $brand-main-color;
      }
      &:not(.active) {
        cursor: pointer;
      }
    }
  }

  #btn-menu-toggle-button {
    position: fixed;
    left: $menu-width;
    height: 60px;
    width: 26px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 0;
  }

  .menu-content {
    padding: 16px;
    overflow: scroll;
    height: 100%;
    &.with-tabs {
      height: calc(100% - #{$tabs-height});
    }
    h1 {
      margin-bottom: 8px;
    }
    #btn-sidebar-submit-button {
      background-color: $brand-cta1-color;
      color: $brand-text-color;
      font-weight: bold;
      font-size: $brand-heading-size;
      font-family: $brand-heading-family;
    }
  }
}
