.visualizations {

  // these values are coordinated with the sidebar menu
  $menu-width: 509px;
  $menu-transition: left 0.5s ease 0s;

  z-index: 1000;
  background-color: $brand-bg-color;
  overflow: scroll;
  padding: 30px 50px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: $menu-width;
  transition: $menu-transition;

  &.full-width {
    left: 0;
  }
}
