.visualizations {

  z-index: 1000;
  background-color: $brand-bg-color;
  overflow: scroll;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  .vis-export-select {
    position: absolute;
    top: 15px;
    right: 15px;
    .loader-button {
      cursor: default;
    }
  }

  h1 {
    text-align: center;
    margin-bottom: 8px;
  }

  .info-section {
    max-width: $vis-content-max-width;
    margin: 0 auto;
    padding: 30px 50px;
  }

  .outline {
    border: 1px solid $brand-stroke-color;
    padding: 20px;
  }

  .criteria {
    &-type {
      display: inline-block;
      margin-right: 10px;
      font-size: 18px;
    }
    .council-districts {
      margin-top: 8px;
      #btn-toggle-show-more {
        color: $brand-main-color;
        display: inline-block;
        margin: 0 0 0 6px;
        cursor: pointer;
        background-color: transparent;
        border: 0;
        font-size: 16px;
        line-height: 24px;
        padding: 0;
        height: auto;
        &:focus:not(:active) {
          box-shadow: none;
        }
      }
    }
  }

  .legend {
    margin-top: 30px;
    .outline {
      padding-bottom: 10px;
      column-width: 200px;
    }
    &-item {
      .circle {
        display: inline-block;
        width: 14px;
        height: 14px;
        border-radius: 8px;
        margin-right: 8px;
      }
      display: inline-block;
      margin: 0 15px 10px 0;
    }
  }

  .number-of-requests {
    margin-top: 30px;
    .requests-box {
      display: inline-block;
      margin: 0 auto;
      border: 4px grey solid;
      border-color: $brand-stroke-color;
      padding: 8px 16px;
    }
  }

  .chart-row {
    background-color: #F1F1F1;

    &:not(.pies) {
      padding: 20px 50px 20px;
      border-bottom: 4px white solid;
      .chart {
        margin: 0 auto;
        max-width: $vis-content-max-width;
      }
    }

    &.pies {
      padding: 10px 0 50px;
      text-align: center;
      .chart {
        width: 420px;
        display: inline-block;
        margin: 20px 10px 0 10px;
        canvas {
          border: 1px solid $brand-stroke-color;
        }
        .chart-export-select {
          top: $chart-padding - 50px;
        }
      }
    }
  }
}
