.faq-311 {
    position: absolute;
    top: $header-height;
    bottom: $footer-height;
    width: 100%;
    overflow-y: auto;
    color: $brand-main-color;
    font-family: $brand-heading-family;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 15rem 1fr;
    grid-template-areas: 
    "header"
    "main";

  .faq-header {
    background-color: $brand-heading-color;
    grid-area: header;
    display: grid;
    place-content: center;

    h1 {
      font-size: 2rem;
      margin-bottom: 10px;
      color: $brand-bg-color;
      text-align: center;
    }

    input {
      border-radius: 5px;
      padding: 10px; 
      font-size: $brand-text-size;
    }
    input[type=text] {
      width: 500px;
    }
    input[type=submit]{
      background-color: $brand-cta2-color;
      color: $brand-text-color; 
      padding: 10px 15px;
      margin-left: 10px;
    }
  }

  .faq-main-section {
    grid-area: main;

    > h4 {
      font-size: $brand-heading-size;
      text-align: center;
      font-weight: bold;
      margin: 2rem auto;
      color: #2a2a2a;
    }
  }

  .faq-question-holder {
    width: 90%;
    margin: 2rem auto;
    height: auto;

    .faq-question {
      display: flex;
      font-size: $brand-heading-size;
      color: #2a2a2a;
      flex-direction: row;
      justify-content: space-between;
      align-content: flex-start;

      .expand-arrow {
        cursor: pointer;
      }
    }

    .close-faq-question {
      .expand-arrow {
        transform: rotate(0deg);
        -webkit-tranform: rotate(0deg);
      }
      + .faq-answer {
        display: none;
      }
    }

    .open-faq-question {
      .expand-arrow {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
      + .faq-answer {
        display: block;

        h4 {
          font-weight: bold;
          color: #002449;
          font-size: $brand-heading-size;
          margin: 2rem 0 0 0;
        }

        p {
          margin-top: 1rem;
          font-size: $brand-text-size;
          font-style: normal;
          font-weight: 200;
          color: #2a2a2a;
        }
      }
    }

    img {
      position: relative;
      margin-top: 1rem;
    }

    .img-size-100 {
      width: 100%;
    }

    .img-size-50 {
      width: 50%;
    }

    .img-size-30 {
      width: 32%;
    }
  }
}

