
h1 {
  font-family: $brand-heading-family;
  color: $brand-heading-color;
  font-size: $brand-heading-size;
  font-weight: bold;
}

h2 {
  font-family: $brand-heading-family;
  color: $brand-heading-color;
  font-size: $brand-subheading-size;
  font-weight: bold;
}
