
// see brand stylesheet here:
// https://www.figma.com/file/9RJJyaGAdT5hcRuv9PUMOY/311-Wireframe-v1.0?node-id=16%3A4

// colors
$brand-heading-color:   #002449;    // dark blue
$brand-text-color:      #002449;    // dark blue
$brand-main-color:      #002449;    // dark blue
$brand-cta1-color:      #FFB24A;    // orange
$brand-cta2-color:      #55D4D2;    // light blue
$brand-bg-color:        #FFFFFF;    // white
$brand-stroke-color:    #999999;    // grey

// font families
$brand-heading-family:  'Open Sans', sans-serif;
$brand-text-family:     Roboto, sans-serif;

// font sizes
$brand-heading-size:    20px;
$brand-subheading-size: 18px;
$brand-text-size:       16px;
