.about-hero {
  height: calc(100vh - #{$header-height + $footer-height});
  background-image: url('../assets/about311hero.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: $brand-heading-family;

  .text-about {
    color: $brand-bg-color;
  }

  .text-311 {
    color: $brand-cta1-color;
  }

  .text-data {
    color: $brand-cta2-color;
  }
}
