.main-text {
  margin-top: 48px;
  margin-left: 15em;
  margin-right: 15em;

  h1 {
    text-align: center;
  }

  p {
    margin-top: 45px;
    margin-bottom: 45px;
    text-align: left;
    font-size: 16px;
    line-height: 19px;

    a {
      font-weight: bold;
    }
  }
}
