.navbar {
  font-family: $brand-heading-family;
  font-weight: bold;
  height: $header-height;
  z-index: $z-navbar;
  background-color: $brand-heading-color;

  #navbar-logo {
    max-height: 4rem;
  }

  .navbar-brand {
    font-size: 20px;
  }

  .navbar-menu .navbar-item {
    font-size: 16px;
    margin-right: 20px;
  }

  .navbar-selected {
    border-bottom: 5px solid $brand-cta1-color;
    padding-bottom: 2px;
    margin-bottom: -7px;
  }

  .beta-tag-wrapper {
    padding-left: 0;
    .beta-tag {
      position:relative;
      background:$brand-bg-color;
      padding:3px;
      border-radius:2px;
      line-height: 12px;
      font-size: 12px;
      &:before {
        position:absolute;
        top:5px;
        background: $brand-main-color;
        margin-left:-10px;
        z-index: -1;
        border-top: 4px solid transparent;
        border-right: 10px solid $brand-bg-color;
        border-bottom: 4px solid transparent;
        content:'';
      }
    }
  }
}
