<!DOCTYPE html>
<html lang="en">
    <header style="background-color: #29404F; text-align: center; ">
        <img src="https://raw.githubusercontent.com/hackforla/311-data/refs/heads/main/assets/311Logo.png" width="75" style="padding: 10px">
    </header>
    <div style="padding: 15px; font-size: 14px; font-family: Roboto">
        <p>{{to_name}},</p>
        <p>
            We appreciate you taking the time to leave a suggestion for our 311 Data service request map. 
            Your feedback is important to us, and we are always looking for ways to improve our data visualization tool. 
            Please follow our <a href="https://www.linkedin.com/company/hack-for-la">LinkedIn</a> for updates on this civic tech project and others within the Hack for LA organization.
        </p>

        <p>
            Sincerely,
            <br>
            311 Data Volunteers at Hack for LA.
        </p>
    </div>
    <footer style="padding-top: 50px; text-align: center;">
        <div><svg width="14" height="2" viewBox="0 0 14 2" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="1" cy="1" r="1" fill="#A8A8A8"/>
            <circle cx="7" cy="1" r="1" fill="#A8A8A8"/>
            <circle cx="13" cy="1" r="1" fill="#A8A8A8"/>
        </svg></div>
        <br />
        <br />
        <img src="https://raw.githubusercontent.com/hackforla/311-data/refs/heads/main/assets/hack_for_la_logo.png"  width="75">
        <div style="font-size: 14px; font-family: Roboto">Powered by Volunteers at Hack for LA</div>
    </footer>

</html>
