.how-it-works{
  margin: 100px 5em 5em 100px;

  h1 {
    text-align: center;
  }

  p {
    text-align: left;
    line-height: 19px;
  }

  .grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    grid-column-gap: 75px;
    justify-items: center;
  }
}
