.tooltip {
  position: absolute;
  z-index: 1101; // must exceed z-index of the side menu (1100)

  $bg-color: rgb(200, 200, 200);

  #react-tooltip {
    background-color: $bg-color;
    max-width: 200px;
    padding: 8px 12px;
    word-break: break-word;
    line-height: 20px;
    opacity: 1.0;

    &.place-right:after  { border-right-color:  $bg-color; }
    &.place-top:after    { border-top-color:    $bg-color; }
    &.place-left:after   { border-left-color:   $bg-color; }
    &.place-bottom:after { border-bottom-color: $bg-color; }

    .tooltip-text {
      margin-top: 6px;
    }
  }
}
